/* Global styles */

//including variables and mixins
@import "assets/styles/variables";
@import "assets/styles/mixins";

//elements

body {
  margin: 0;
  font: {
    family: $font-family-default;
    size: $font-size-base * 0.9;
    weight: $font-weight-normal;
    style: normal;
  }
  line-height: $line-height-normal;
  text-align: center;
  color: $off-black;
  background-color: $white;
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
}

section {
  padding: $extra-large-space;
}

h1 {
  @include heading($h1-font-size, $font-weight-light);
}

h2 {
  @include heading($h2-font-size, $font-weight-light);
}

p {
  margin: 0;
}

button {
  margin-top: $extra-small-space;
  padding: $small-space $extra-large-space;
  border: none;
  border-radius: $border-radius-normal;
  box-shadow: $box-shadow-normal;
  font-size: $font-size-base;
  font-family: $font-family-default;
  text-align: center;
  cursor: pointer;
  transition: $normal-transition;
  color: $white;
  background-color: $primery-color;
  &:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem lighten($primery-color, 20%);
  }
  &:disabled {
    color: $dark-grey;
    background-color: $light-grey;
    box-shadow: none;
  }
  &:not(:disabled) {
    cursor: pointer;
    &:hover,
    &:focus {
      background-color: darken($primery-color, 10%);
    }
    &:active {
      box-shadow: inset 0 0 0 0.2rem darken($primery-color, 20%);
    }
  }
}

.alert {
  margin: $extra-large-space auto;
  padding: $medium-space;
  box-shadow: $box-shadow-normal;
  border-radius: $border-radius-normal;
  background-color: $light-cyan;
}
